<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시물 작성 폼</title>
</head>

<style>
    .layout{
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    }

    .layout input{
    width: 100%;
    box-sizing: border-box;
    }

    .layout textarea{
    width: 100%;
    margin-top: 10px;
    min-height: 300px;
    }



</style>

<body style="background: url(../img/clouds-1282314_1920.jpg)">
<div class="layout">
  <form th:action="@{/board/update/{id}(id=${board.id})}" method="post">
    <strong>게시물을 수정중입니다..</strong>
    <p></p>
    <input name="title" type="text" th:value="${board.title}" placeholder="제목을 입력하세요">
    <textarea name="content" th:text="${board.content}" placeholder="내용을 입력하세요"></textarea>
    <button type="submit">수정</button>
  </form>
</div>
</body>
</html>